<div class="new-book">
    <h2>New book</h2>
    <hr>
    <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="legacy" class="form-element">
            <mat-label>Title</mat-label>
            <input matInput formControlName="title" />
        </mat-form-field>
        
        <mat-form-field appearance="legacy" class="form-element">
            <mat-label>Short description</mat-label>
            <textarea matInput formControlName="shortDescription"></textarea>
        </mat-form-field>
        
        <mat-form-field appearance="legacy" class="form-element">
            <mat-label>Publish date</mat-label>
            <input matInput [matDatepicker]="publishDate"/>
            <mat-datepicker-toggle matSuffix [for]="publishDate"></mat-datepicker-toggle>
            <mat-datepicker #publishDate></mat-datepicker>
        </mat-form-field>
        
        <mat-form-field appearance="legacy" class="form-element">
            <mat-label>Author</mat-label>
            <input matInput formControlName="author" />
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">Save</button>
    </form>
</div>